<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVeeOG7qI14uy7rNSJP4BgNS7dVUiKdLo</string>
	<key>GCM_SENDER_ID</key>
	<string>532885379007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fyp2</string>
	<key>PROJECT_ID</key>
	<string>fyp-game-64095</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp-game-64095.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532885379007:ios:a0550f687e9a23513ff30a</string>
	<key>DATABASE_URL</key>
	<string>https://fyp-game-64095-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>